
.DS_Store
.idea
.idea/deployment.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/Missing-children.iml
.idea/modules.xml
.idea/vcs.xml
.idea/deployment.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/Missing-children.iml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.vscode
.DS_Store

data
work_space
__pycache__